:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --ffm-green: #3d9251;
  color-scheme: light dark;
  --color-text: #fefefe;
  --color-bg: #242424;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

pre,
code {
  background-color: #656565;
  color: var(--color-bg);
  padding: 1px;
  border-radius: 3px;
}

section {
  width: inherit;
  height: inherit;
}

.leaflet-container {
  max-width: 100%;
  max-height: 100%;
}
.leaflet-control-layers-base {
  text-align: left;
}
svg.leaflet-attribution-flag {
  display: none !important;
}

#infoBar {
  position: absolute;
  bottom: 20px;
  z-index: 999;
  padding: 12px;
  border-radius: 10px;
  left: 20px;
  font-size: x-small;
  color: var(--ffm-green);
  background-color: #ffffffaa;
  border: 1px solid var(--ffm-green);
  cursor: pointer;
}

#infoBar a {
  color: #0078a8;
}

#addLocation {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
  background-color: var(--ffm-green);
  color: var(--color-text);
  padding: 10px;
  border-radius: 10px;
  display: none;
}

#settings {
  position: absolute;
  bottom: 40px;
  z-index: 999;
  padding-bottom: 2px;
  left: 20px;
  cursor: pointer;
  background: url(/icons/info.svg) center no-repeat, #fff;
}

.hidden {
  display: none;
}

.svg-social {
  fill: var(--ffm-green);
  height: 3em;
}

#heading {
  position: absolute;
  top: 5px;
  z-index: 999;
  border-radius: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#heading > img {
  height: 60px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#modalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modalClose:hover,
#modalClose:focus {
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

#map {
  height: 100%;
  width: 100%;
}

#aboutPage > article,
#mapEditPage > article {
  margin: 5% auto;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 150px);
  max-width: 1000px;
}

.custom-button {
  background-color: #fff;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #a3a3a3;
}
.leaflet-popup-content {
  min-width: 140px;
}

.btn {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  background-color: var(--ffm-green);
  text-align: center;
  transition: all 0.2s;
  border: 1px solid var(--ffm-green);
}
.btn:hover {
  background-color: var(--color-bg);
}
@media all and (max-width: 30em) {
  .btn {
    display: block;
    margin: 0.2em auto;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: #213547;
    --color-bg: #fefefe;
  }
}
